<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
</head>
<body ng-app="irc-client">
	<div ng-controller="LogController">
		<div ng-repeat="event in events">
			{{event.to}}
			{{event.from}}
			{{event.payload}}
		</div>

		<div>
			<button ng-click="connect()">Connect</button>
		</div>

	</div>
</body>
</html>
