<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
	<script type="text/javascript" src="bower_components/moment/moment.js"></script>
	<script type="text/javascript" src="app/app.js"></script>

	<link rel="stylesheet" href="style/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<link rel="stylesheet/less" type="text/css" href="/style/styles.less"/>
	<script type="text/javascript" src="bower_components/less/dist/less-1.7.0.js"></script>

</head>
<body ng-app="irc-client">
	<div class="container" ng-controller="LogController">
		<h1>IRC</h1>
		<div class="logs">
			<div class="log" ng-repeat="event in events">
				<span class="timestamp">{{parseDate(event.ts)}}</span>
				<span class="from">{{event.from}}</span>
				<span class="to">{{event.to}}</span>
				<span class="payload">{{event.payload}}</span>
			</div>
		</div>
		<div class="input">
			<label>To</label>
			<input class="to" ng-model="to"/>
			<label>Message</label>
			<input class="message" ng-model="message"/>
			<button ng-click="send()">Send</button>
		</div>
	</div>
</body>
</html>
