@black: rgba(44, 44, 45, 1.0);
@darkHighlight: rgba(35, 35, 35, 1.0);
@input-size: 150px;
body {
  background: @black;
  color: #fff;
  font-family: 'Helvetica Nueu', 'Helvetica', sans-serif;
}
h1 {
  font-size: 3em;
}

.container {
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  background: @darkHighlight;
}

.logs-container {
  height: 100%;
  position:absolute;
  top: 0;
  box-sizing: border-box;
}
.logs-wrapper {
  height: 95%;
  width: 500px;
  padding-bottom: @input-size;

  background-color: @darkHighlight;
  margin: 2.5% 20px;
  padding: 15px;
  box-sizing: border-box;
}
.input {
    position: absolute;
    bottom: 0;
    padding: 15px 5px;
    height: @input-size;
    width: 100%;
    box-sizing: border-box;
    .message, .to {
       padding: 5px;
       margin: 5px 0;
       box-sizing: border-box;
       width: 100%;
    }
    label {
       display: block;
    }
}

.logs {
  position: relative;
  height:100%;
  width: 100%;
  .scroll {
    position: absolute;
    height:100%;
    width: 100%;
    bottom:0;
    overflow: scroll;
  }
  .log {
    margin: 0.2em 0;
  }

  .timestamp {
    color: grey;
    font-weight: lighter;
    font-size: 0.8em;
    margin-right: 0.2em;
  }

  .to {
    &::before {
      content: "-> "
    }
    &::after {
      content: ": "
    }
  }

  .from, .to {
    font-weight: bolder
  }
}

button {
  background: lightblue;
  color: @black;
}
