@black: rgba(35, 35, 35, 1.0);
@header-size: 50px;
@input-size: 150px;
body {
  background: @black;
  color: #fff;
  font-family: 'Helvetica Nueu', 'Helvetica', sans-serif;
}
h1 {
  font-size: 3em;
}

.container {
  header {
    height: @header-size;
  }
  .logs-container {
    width: 600px;
    height: 100%;
    position:absolute;
    top: 0;
    box-sizing: border-box;
    padding-top: @header-size;
  }
  .logs-wrapper {
    height: 100%;
    padding-bottom: @input-size;
    box-sizing: border-box;
    .input {
        position: absolute;
        bottom: 0;
        padding: 15px 5px;
        height: @input-size;
        width: 100%;
        box-sizing: border-box;
         > input {
           padding: 5px;
           margin: 5px 0;
           box-sizing: border-box;
           width: 90%;
         }
         > label {
           display: block;
         }
    }
  }
  .logs {
    position: relative;
    height:100%;
    width: 100%;
    .scroll {
      position: absolute;
      height:100%;
      width: 100%;
      bottom:0;
      overflow: scroll;
    }
    .log {
      margin: 0.2em 0;
    }

    .timestamp {
      color: grey;
      font-weight: lighter;
      font-size: 0.8em;
      margin-right: 0.2em;
    }

    .to {
      &::before {
        content: "-> "
      }
      &::after {
        content: ": "
      }
    }

    .from, .to {
      font-weight: bolder
    }
  }

  button {
    background: lightblue;
    color: @black;
  }


}
