<div class="logs-container">

  <div class="logs-wrapper">
    <div class="current-filter">
      {{ current }}
    </div>
    <div class="logs">
      <div class="scroll-wrap">
      <div class="scroll" scroll-bottom>
        <div class="log" ng-repeat="event in events">
            <span class="timestamp">{{parseDate(event.ts)}}</span>
            <span class="from">{{event.from}}</span>
            <span class="to">{{event.to}}</span>
            <span class="payload">{{event.payload}}</span>
        </div>
      </div>

      </div>
      <div class="input">
        <div class="input-wrapper">
          <label>Message</label>
          <input class="message" ng-model="message"/>
          <button ng-click="send()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
